html, body, #root {
  background-color: #f1f1f1;
}

body, input, button {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.favorite-box {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.favorite-box span {
  font-weight: bold;
  margin-right: 5px;
}

.people-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.people {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 5px 2px 0px rgba(191,170,170,0.25);
  background-color: #fff;
}

.favorite-button {
  float: right;
}

.people-attribute span {
  font-weight: bold;
  margin-right: 5px;
}

.people-link-list span {
  font-size: larger;
}

.people-link-list {
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}